.estadoverde{
    background:#2BD428;
    text-align: center;
    padding:8px 10px;
    border-radius:30px;
    font-weight:400;
    font-size:14px;
    max-width:130px;
}
.estadoamaralillo{
    background:#F6F22F;
    padding:8px 10px;
    border-radius:30px;
    font-weight:400;
    font-size:14px;
    text-align: center;
    max-width:130px;

}
.estadorojo{
    background:#D4230B;
    padding:8px 10px;
    border-radius:30px;
    font-weight:400;
    font-size:14px;
    text-align: center;
    max-width:130px;

}
.estadonaranaja{
    background:#fca61c;
    padding:8px 10px;
    border-radius:30px;
    font-weight:400;
    font-size:14px;
    max-width:130px;

    text-align: center
}

.estadogris{
    background:grey;
    padding:8px 10px;
    border-radius:30px;
    font-weight:400;
    font-size:14px;
    max-width:130px;

    text-align: center
}
